[user]
	name = Guillaume Coupelant
	email = guillaume.coupelant@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[init]
	defaultBranch = main
[rebase]
	autosquash = true

# If this file is missing, git silently ignore it.
[include]
	# Allows specific WSL and SSH config.
	path = ~/.gitconfig_wsl_ssh
