[user]
	name = Guillaume Coupelant
	email = guillaume.coupelant@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[init]
	defaultBranch = main
[rebase]
	autosquash = true

# If this file is missing, git silently ignore it.
[include]
	# Allows specific WSL and SSH config.
	path = ~/.gitconfig_wsl_ssh
	# Allows an extra config file. For example if using another dotfiles repo in parallel to this one.
	path = ~/.gitconfig_extra

# Extra settings for GitHub/GitLab repositories (like signing).
[includeIf "gitdir:~/src/github.com/"]
	path = ~/.gitconfig_github
[includeIf "gitdir:~/src/gitlab.com/"]
	path = ~/.gitconfig_gitlab
