[user]
	name = Guillaume Coupelant
	email = guillaume.coupelant@gmail.com
	signingkey = ~/.ssh/id_rsa.pub
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[init]
	defaultBranch = main
[rebase]
	autosquash = true
[commit]
	gpgsign = true
[gpg]
	format = ssh

# If this file is missing, git silently ignore it.
[include]
	# Allows specific WSL and SSH config.
	path = ~/.gitconfig_wsl_ssh
	# Allows an extra config file. For example if using another dotfiles repo in parallel to this one.
	path = ~/.gitconfig_extra
